

nav {
  font-size: x-large;
  width: 100%;
  display: flex;
  align-items: center; // Ensures vertical alignment
  justify-content: space-between;

  > img {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 32px;
  }

  > div {
    padding: 0 32px;
    display: flex;
    align-items: center; // Ensures vertical alignment
    gap: 24px; // Adds spacing between links
    > a {
      &:hover {
        color: red;
      }
    }
  }
}

a {
  text-decoration: none;
  color: white;
}

.phone_btn {
  background-color: red;
  padding: 8px 16px;
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    width: 24px;
    height: 24px;
  }
}