.footer {
    /* max-width: 1440px; */
    margin: 0 auto;
    background-color: #0A141E;
    height: 136px;
    margin: 8px 0 0 0;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    padding: 50px 50px;
}

.footerpics {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerpics > a > h1 {
    color: white;
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    text-decoration: none;
}

.footerpics > a {
    text-decoration: none;
    display: flex;
    align-items: center;
}


.logofooter>img {
    height: 44px;
}

.footerpics>a>img {
    height: 40px;
}

.footerpics>img:hover {
    cursor: pointer;
}


.maxwidth {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    width: 100%;
}